$purple: #6753ff;
$darkBlue: #130f46;
$darkerBlue: #152448;
$lightDarkBlue: #1d334f;
$pink: #c404ff;
$white: #fff;
$whiteSmoke: #f5f5f5;
$almostWhite: #fafafa;
$darkWhite: #f1f1f1;
$gray: #808080;
$whiteGray: #ffffff69;
$darkGray: #393939;
